<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Automation Hub - Details</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dashops.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>

<div class="container">
  <h2>Automation Hub - Details</h2>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Upload date</th>
        <th>Modify date</th>
        <th>GIT Link</th>
      </tr>
    </thead>
    <tbody>
    {% for item in data['maps'] %}
      {% if item.id == id %}
          <td>{{ item.detail.description }}</td>
          <td>{{ item.detail.uploaddate }}</td>
          <td>{{ item.detail.lastmod }}</td>
          <td><a href="{{ item.detail.link }}">{{ item.detail.link }}</a></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hub.js') }}"></script>

</body>
</html>
