<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Automation Hub</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dashops.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>

<div class="container">
  <h2>Automation Hub</h2>
  <p>Select one of the playbooks for further details and a download link of the automation script:</p>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Uploader Email</th>
        <th>Keywords</th>
      </tr>
    </thead>
    <tbody>
    {% for item in data['maps'] %}
        <tr class='clickable-row' data-href='url://linkid0003/'>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.keyword }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hub.js') }}"></script>

</body>
</html>
