<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Automation Hub - Upload</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dashops.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>

<div class="container">
  <h2>Automation Hub - Upload</h2>
<br>
<div class="container">
<form method="post" action="{{ url_for('hub.index', _external=True)}}out/post">
  <div class="form-group">
    <label for="yourname">Please enter your name:</label>
    <input type="text" name="yourname" class="form-control" /><br />
  </div>
  <div class="form-group">
    <label for="youremail">Please enter your email:</label>
    <input type="text" name="youremail" class="form-control" /><br />
  </div>
  <div class="form-group">
    <label for="selecttype">Select Automation Type</label>
    <select class="form-control" name="selecttype">
      <option>Ansible</option>
      <option>Salt</option>
      <option>Chef</option>
      <option>Puppet</option>
    </select>
  </div>
  <div class="form-group">
    <label for="textlist">Keywords (comma)</label>
    <textarea class="form-control" name="textlist" rows="1"></textarea>
  </div>
  <div class="form-group">
    <label for="inputfile">File input</label>
    <input type="file" class="form-control-file" name="inputfile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">You can only upload zip, tar or gz files!</small>
  </div>
  <input type="submit" class="btn btn-primary" />
</form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hub.js') }}"></script>

</body>
</html>
